<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联合建模平台| 登录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/AdminLTE.min.css">

    <script src="/static/lib/angularJS-1.4.6.js"></script>
    <script src="/static/lib/showVia.js"></script>
    <link href="/static/css/demo.css" rel="stylesheet">


    <style type="text/css">
        .clsError {
            font-size: 13px;
            border: solid 1px #cc3300;
            padding: 2px;
            display: none;
            margin-bottom: 5px;
            background-color: #ffe0a3;
        }
    </style>
</head>
<body class="hold-transition login-page" ng-app="myApp" style="background-color: #ECF4FC">
<div class="login-box">
    <div class="login-box-body center-in-center" id="loginBody" ng-controller="logIn"
         style="width: 1200px;background-color: #ECF4FC">
        <div>
            <img src="/static/dist/img/logo.png">
        </div>
        <br>
        <div style="float: left;width: 500px;height: 600px;">
            <img src="/static/dist/img/img.png" class="image">
        </div>
        <div style="margin-left: 600px;width: 600px;height: 600px; background-color: #ffffff">
            <p class="login-box-msg"></p>
            <form th:action="${loginProcessUrl}" method="post" style="margin-top: 100px;">
                <div class="row" style="height: 10px;">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div id="divError" class="clsError"></div>
                    </div>
                </div>
                <div class="row" style="height: 80px;">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-6">
                        <h3>登录</h3>
                    </div>
                </div>
                <div class="row" style="height: 80px;">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-feedback">
                            <input id="txtName" type="text" class="form-control" placeholder="用户名" name="username"
                                   style="height: 56px;">
                            <span class="glyphicon glyphicon-user form-control-feedback"
                                  style="height:56px;line-height: 56px;"></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 80px;">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-feedback">
                            <input id="txtPass" type="password" class="form-control" placeholder="密码" name="password"
                                   style="height: 56px;">
                            <span class="glyphicon glyphicon-lock form-control-feedback"
                                  style="height:56px;line-height: 56px;"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-flat"
                                style="height: 56px;">
                            <h4>立即登录</h4>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/lib/2.1.1-jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $("#txtName").focus();//输入焦点
        $("#txtName").keydown(function (event) {
            if (event.which == "13") {//回车键,移动光标到密码框
                $("#txtPass").focus();
            }
        });
        $("#txtPass").keydown(function (event) {
            if (event.which == "13") {//回车键，用.ajax提交表单
                $("#submit").trigger("click");
            }
        });
    });
</script>
</body>
</html>
